{
  "presets": ["@babel/preset-env", "@babel/preset-react", "mobx"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-export-namespace-from"],
    ["@babel/plugin-proposal-export-default-from"],
    [
      "@babel/plugin-proposal-class-properties"
    ],
    [
      "@babel/plugin-proposal-object-rest-spread"
    ],
    [
      "@babel/plugin-syntax-dynamic-import"
    ],
    [
      "babel-plugin-styled-components"
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2
      }
    ]
  ],
  "ignore": []
}